{% load static %}
<div class="wrap">
    <div class="box-part app_button"
            order_index="{{ order_index }}"
            Bundle_Name="{{ app.Bundle_Name }}"
            downloads="{{ app.downloads }}"
            latest_release_date="{{ app.latest_release_date.isoformat }}"
            onClick="window.location='{% url 'app_page' app.name %}';">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ app.logo_url }}" class="custom-img">
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <h6 data-toggle="tooltip" data-title="{{ app.Bundle_Name }}">{{ app.Bundle_Name | truncatechars:40 }}</h6>
                    </div>
                    {% if app.short_title %}
                    <div class="col-md-12 desc-spaced">
                        <p class="desc-box">{{ app.short_title }}</p>
                    </div>
                    {% endif %}
                     <div class="col-md-12">
                        <div class="rating-stars stars" data-placement="bottom">
                            {% if app.stars_percentage == 0 %}
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if app.stars_percentage > 0 and app.stars_percentage < 20 %}
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if app.stars_percentage >= 20 and app.stars_percentage < 40 %}
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if app.stars_percentage >= 40 and app.stars_percentage < 60 %}
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if app.stars_percentage >= 60 and app.stars_percentage < 80 %}
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            {% endif %}
                            {% if app.stars_percentage >= 80 %}
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
