{% load static %}
{% load app_buttons %}

{% if apps_with_releases %}
    <div class="col-md-12" id="apps-with-releases">
        <br />
        {% app_buttons apps_with_releases %}
    </div>
{% endif %}

{% if apps_without_releases %}
    <div class="col-md-10">
        {% app_buttons apps_without_releases %}
    </div>
{% endif %}
<br />
