{% extends "search_panel.html" %}
{% load static %}
{% load i18n %}
{% load app_buttons %}

{% block main %}
<form class="form-group" method="get" action=".">
    <div class="col-md-9">
        <h3>Apps</h3>
    </div>
    {% if page.object_list %}
    {% list_of_apps_search page.object_list True %}

    <h3>Authors</h3>
    {% for result in page.object_list %}
    <ul>{% for author in result.object.authors.all %}
        <li>
            <a href="{% url 'author_page' author.name %}">{{ author.name }} ({{ author.institution }})</a>
        </li>
    {% endfor %}
    </ul>

    {% empty %}
    <p></p>
    {% endfor %}

    <h3>Tags</h3>
    {% for result in page.object_list %}
    <ul>
        {% for tag in result.object.tags.all %}
        <li>
            <a href="{% url 'tag_page' tag.name %}">{{ tag.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% empty %}
    <p></p>
    {% endfor %}
    {% endif %}
</form>
{% endblock %}
