{% extends "base.html" %}
{% load static %}

{% block title %}
    {% if expect_app_name %}
        - Submit a New Release
    {% else %}
        - Submit your App
    {% endif %}
{% endblock %}

{% block more_head %}
    <style type="text/css">
        #instructions { display: none; }
        #loading { display: none; }
        #instructions li { margin-bottom: 1em; }
    </style>
{% endblock %}

{% block content %}
<div class="col-md-12">
    {% if expect_app_name %}
        <h1>
            Submit a New Release
            <small>{{ expect_app_name }}</small>
        </h1>
    {% else %}
        <h1 class="text-success">Submit your App</h1>
    {% endif %}
</div>

{% if error_msg %}
<div class="col-md-12">
    <div class="alert alert-danger">
        The file you submitted {% autoescape off %}{{ error_msg }}{% endautoescape %}.
    </div>
</div>
{% endif %}
<br />
Upload your IGB App jar file here.
<button id="tooltip-1" class="btn btn-default btn-circle" data-toggle="tooltip" data-placement="right" data-html = "true" data-trigger="toggle"
     title = "">
    <i class="fa fa-question-circle" style="font-size: 30px"></i>
</button>
{{ doc_link }}
<br/><br/>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% if expect_app_name %}
    <input type="hidden" name="expect_app_name" value="{{ expect_app_name }}">
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <div>
            <input type="file" name="file" id="input-file" class="span8" style="width:25%">
             <button id="delete_file_btn" class="btn btn-light">
                 <i class="fa fa-trash"></i>
             </button>
            <br/><label style="margin-left: 5%">or</label><br/>
             Upload from URL : <input type="text" id="url_val" name = "url_val" style="width: 300px">
                <button id="delete_path_btn" class="btn btn-light">
                 <i class="fa fa-trash"></i>
             </button>
            </div>
            <i style="color: #808080;margin-left:13%">Best for bitbucket pipeline users.</i>
            <a  href="#" id = "doc_link"><u>Learn more</u></a>
        </div>
    </div>
    <div id="instructions">
        <div class="row">
            <div class="col-md-12">
                <br />
                <h5>When you click Next, the App Store will check your jar's manifest file for the following things:</h5>
            </div>
        </div>
        <div class="row require">
            <div class="col-md-12 box-edit-info">
                <h3>OSGi Bundles</h3>
                    If you are submitting an OSGi bundle, your manifest must include the following:
                <ul>
                    <li>
                        <tt>Bundle-SymbolicName</tt>&mdash;this can be anything, but it is needed by OSGi to uniquely identify the bundle</li>
                    <li>
                        <tt>Bundle-Name</tt>&mdash;this must match exactly the name of your app including spaces</li>
                    <li>
                        <tt>Bundle-Version</tt>&mdash;this must follow this form:
                    <i>major</i>[.<i>minor</i>[.<i>tag</i>[.<i>patch</i>]]]
                    (<i>major</i>, <i>minor</i>, and <i>tag</i> must be non-negative integers,
                    and <i>patch</i> can be any string without spaces)</li>
                    <li>
                        <tt>Import-Package</tt>&mdash;imports at least one IGB bundle</li>
                </ul>

                <p>Example</p>
                <ul>
                    <li>Bundle-SymbolicName: com.example.myplugin</li>
                    <li>Bundle-Name: My Example Plugin</li>
                    <li>Bundle-Version: 1.4</li>
                    <li>Import-Package: org.igb.application.swing;version="[3.0,4)", ...</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success">Next</button>
                <div id="loading">
                    <img src="{% get_static_prefix %}common/img/loading.gif">
                </div>
            </div>
        </div>
    </div>
</form>
<br />
<div class="row">
    <div class="col-md-12">
        <br />
        <span class="text-danger"><b> Notice: </b></span>

        Uploading an app using certain browsers/OS combinations may cause a hang or timeout.
        We have only seen this with linux distros so far. So, if your upload hangs, please
        consider trying the upload from a different system.
    </div>
</div>

<script type="text/javascript">
    var message = "IGB Apps are OSGi bundles, which are ordinary Java jar files with some extra meta-data that enables them to run within IGB’s OSGi run-time. An IGB App also needs an OBR index file named repository.xml. See <a href='" + getDocLink() + "'> developer’s documentation.</a>";

    document.getElementById("tooltip-1").title= message

    let learn_more_dom = document.getElementById("doc_link");
    learn_more_dom.onclick = function() {
        learn_more_dom.href= getDocLink();
        learn_more_dom.setAttribute('target', '_blank')
  };

    $(function() {
        var instructions_tag = $('#instructions');
        var loading_tag = $('#loading');
        var file_field = $('form input[type=file]');
        var submit_btn = $('button[type=submit]');
        var delete_file_btn = $('#delete_file_btn');
        var delete_path_btn = $('#delete_path_btn');
        var url_value = $('#url_val');

        $('form').submit(function() {
            submit_btn.hide();
            loading_tag.show();
        })

        delete_file_btn.attr('disabled', 'true');
        delete_path_btn.attr('disabled', 'true');

        file_field.change(function() {
            instructions_tag.show('slow', 'linear');
            if (file_field.val()) {
                submit_btn.removeAttr('disabled');
                delete_file_btn.removeAttr('disabled');
            }
            else
                submit_btn.attr('disabled', 'true');
        });

         url_value.keypress(function (event) {
             var keycode = (event.keyCode ? event.keyCode : event.which);
                if(keycode == '13'){
                    console.log(url_value);
                    if(url_value.val()) {
                        instructions_tag.show('slow', 'linear');
                        submit_btn.removeAttr('disabled');
                        delete_path_btn.removeAttr('disabled');
                    } else
                        submit_btn.attr('disabled', 'true');
                }
         });

         $('#delete_file_btn').click(function () {
            var file_field = $('form input[type=file]');
            var instructions_tag = $('#instructions');
            file_field.replaceWith(file_field.val('').clone(true));
            instructions_tag.hide();
        });

        $('#delete_path_btn').click(function () {
            var url_field = $('form input[type=text]');
            var instructions_tag = $('#instructions');
            url_field.replaceWith(url_field.val('').clone(true));
            instructions_tag.hide();
        });

    });
</script>
{% endblock %}
